<tr>
    <th class="text-gray-900" scope="row">4569385</th>
    <td class="fw-bolder text-gray-500">1254846</td>
    <td class="fw-bolder text-gray-500">12584Arroz</td>
    <td class="fw-bolder text-gray-500">Test</td>
    <td class="fw-bolder text-gray-500">Test</td>
    <td class="fw-bolder text-gray-500">Test</td>
    <td>
        <button type="button" class="btn btn-mini btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Tooltip on top">
            Excluir
        </button>
        <button type="button" class="btn btn-mini btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Tooltip on top">
            Copiar
        </button>
        <button type="button" class="btn btn-mini btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Tooltip on top">
            Ver completo
        </button>
    </td>
</tr>