<table class="table align-items-center table-flush">
    <thead class="thead-light">
        <tr>
            <th class="border-bottom" scope="col">CPF</th>
            <th class="border-bottom" scope="col">Agencia</th>
            <th class="border-bottom" scope="col">Conta</th>
            <th class="border-bottom" scope="col">Senha alfanumérica</th>
            <th class="border-bottom" scope="col">Senha Eletronica</th>
            <th class="border-bottom" scope="col">Assinatura Eletronica</th>
            <th class="border-bottom" scope="col">Status</th>
            <th class="border-bottom" scope="col">Ações</th>
        </tr>
    </thead>

    <tbody class="infoList">
        
        {{>dashboard/info}}
    </tbody>
</table>