html
    -webkit-tap-highlight-color: rgba(0,0,0,0)

.block-account
    border-color: #ddd
    background-color: #fff
    border: 1px solid #ddd
    border-radius: 4px;

    footer
        border-top: 1px solid #ddd;
        padding: 15px;  
        display flex
        justify-content flex-end
        align-items center

        a
            display flex
            justify-content center
            align-items center
            box-shadow: 0 0 0 0.375em rgba(143, 155, 179, 0.16);
            outline: none!important;
            color: #666;
            background-image: none;
            padding: 6px 12px;
            text-align: center;
            border: 1px solid transparent;
            border-radius: 4px;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.428571429;
            margin: 10px;

        button
            background-color: #285148!important;
            color: #fff;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.428571429;
            margin-bottom: 0;
            padding: 6px 12px;
            text-align: center;
            user-select: none;
            white-space: nowrap;
            box-shadow: none;
            &:hover
                background-color: #43a376!important;
                border-color: #43a376;

            &.confirm
                background-color: #166649!important;
                border-color: #166649;
                margin-left 5px

    aside
        height: 363px;
        max-height: 363px;  
        padding: 15px;
        padding-bottom: 25px
        font-size: 16px;
        text-align: center

        button
            background-color: #166649!important;
            border-color: #166649;
            color: #fff
            min-width: 150px;
            padding: 15px;
            border: 1px solid transparent;
            border-radius: 4px;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.428571429;
            margin-bottom: 0
            text-align center
            user-select: none;
            white-space: nowrap;        

    header
        padding: 10px 15px;
        font-size: 120%
        color: #5e5e47
        font-weight: 700
        border-bottom: 1px solid transparent
        border-color: #ddd
        padding: 10px 15px;
        font-family: PT Sans,sans-serif
        text-shadow: 1px 1px 0 #fff

        h1
            margin: 11px 0
            animation: fadeIn .5s ease-in-out
            font-size: 18px
            text-shadow: 1px 1px 0 #fff
            text-align center
            color: inherit
            font-weight 500
            font-family: inherit
            line-height: 1.1