body

    &.unicred
        background-color #2c9175
        min-height 100vh
        display flex
        flex-direction column
        padding-bottom 85px !important
        position relative
        font-family PTSans

    &.safety
        background-color #f8f8f8

    .header-container
        display flex
        width 100%
        justify-content center
        background-color color-primary

        figure
            width 100%
            max-width 202px
            img
                width 100%
