<div class="row">
    <div class="col-12">
        <div class="card border-0 shadow">
            <div class="card-header">
                <h4>Lista de infos</h4>
            </div>

            <div class="table-responsive">
                {{>dashboard/list}}
            </div>
        </div>
    </div>
</div>