html
    -webkit-tap-highlight-color: transparent
    -webkit-text-size-adjust: 100%

body
    margin 0
    padding 0

openSans = 'Open Sans', sans-serif
PTSans = 'PT Sans', sans-serif;
Inter = 'Inter', sans-serif;
color-primary = #166649