{{>nav}}

<main class="content">
    {{>nav/navbarTop}}
    {{>dropdown}}

    <div class="row">
        <div class="col-12">
            {{>widgets/cards}}
        </div>
    </div>
    {{>footer}}
</main>

{{>modals/userImage}}