<div class="row">
    <div class="col-12 security-block">
        <div>
            <figure>

            </figure>

            <article>
                <header>Acesso Seguro</header>
                <p>Mantenha sempre o módulo de segurança atualizado de forma a proteger seu sistema contra programas maliciosos, reduzindo assim a chance de ataques à sua conta.</p>
            </article>
        </div>
    </div>
</div>