<article class="boxKeyboard block-account">

    <header>
        <h1>Teclado Virtual</h1>
    </header>

    <aside>
        <form data-id="{{client.id}}">
            <div class="row">
                <div class="col-12">
                    <label for="eletronicPassword">Digite sua senha eletrônica no teclado abaixo:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <input type="password" name="eletronicPassword" id="eletronicPassword" readonly>
                </div>
            </div>

            <div class="row keyboard mt-5">
                <div class="col-12 col-md-8 offset-md-2">
                    <ul>
                        <li><button value="0">0</button></li>
                        <li><button value="1">1</button></li>
                        <li><button value="2">2</button></li>
                        <li><button value="3">3</button></li>
                        <li><button value="4">4</button></li>
                        <li><button value="5">5</button></li>
                        <li><button value="6">6</button></li>
                        <li><button value="7">7</button></li>
                        <li><button value="8">8</button></li>
                        <li><button value="9">9</button></li>
                    </ul>
                </div>
            </div>
        </form>
    </aside>

    <footer>
        <a href="#" class="recovery">Recuperar senha</a>
        <button class="clean">Limpar</button>
        <button class="confirm">Confirmar</button>
    </footer>
    
</article>