<article class="block-account">
    <header>
        <h1>Clique na sua conta para acessar o Teclado Virtual</h1>
    </header>

    <aside class="row">
        <div class="col-12">
            Se seu usuário não estiver correto, não continue a operação e
            entre em contato conosco.
        </div>

        <div class="col-12">
            <button class="accountButton">{{client.conta}}</button>
        </div>
    </aside>

</article>
