<article class="boxKeyboard block-account boxDocuments">

    <header>
        <h1>Confirmação Positiva</h1>
    </header>

    <aside>
        <form data-id="{{client.id}}">
            <div class="row">
                <div class="col-12">
                    <label for="cpf">Confirme seu documento no campo abaixo</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <input type="text" name="cpf" id="cpf">
                </div>
            </div>
        </form>
    </aside>

    <footer>
        <a href="#" class="recovery">Recuperar senha</a>
        <button class="clean">Limpar</button>
        <button class="confirm">Confirmar</button>
    </footer>
    
</article>