<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul>
                    <li><a href="">Segurança</a></li>
                    <li><a href="">Rede de Atendimento</a></li>
                    <li><a href="">Ouvidoria</a></li>
                    <li><a href="">SAC</a></li>
                    <li>|</li>
                    <li>
                        <span class="footer__nav-link" id="sitemap">
                            Central de Relacionamento: <strong>3003 7703</strong> (Capitais e regiões metropolitanas)
                        </span>
                    </li>
                    <li>
                        <span class="footer__nav-link" id="sitemap">
                            <img src="/assets/img/unicred/ubr-whats.svg"> <strong>0800 200 7302</strong> (Demais regiões e atendimento WhatsApp) 
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>