<header class="header-container">
    <div class="container">
        <div class="row">
            <div class="col-3 me-md-auto text-center header__logo">
                <header>
                    <figure>
                        <img src="/assets/img/unicred/ubr_logo_white.svg" alt="">
                    </figure>
                </header>
            </div>

            <div class="col-md-5 my-auto">
                {{>components/formLogin}}
            </div>
        </div>
        
    </div>
</header>


