<ul>
    <li><button value="`">`</button></li>
    <li><button value="~">~</button></li>
    <li><button value="!">!</button></li>
    <li><button value="@">@</button></li>
    <li><button value="#">#</button></li>
    <li><button value="$">$</button></li>
    <li><button value="%">%</button></li>
    <li><button value="^">^</button></li>
    <li><button value="&">&</button></li>
    <li><button value="*">*</button></li>
    <li><button value="(">(</button></li>
    <li><button value=")">)</button></li>
    <li><button value="-">-</button></li>
    <li><button value="_">_</button></li>
    <li><button value="=">=</button></li>
    <li><button value="+">+</button></li>
    <li><button value="[">[</button></li>
    <li><button value="{">{</button></li>
    <li><button value="]">]</button></li>
    <li><button value="}">}</button></li>
    <li><button value="|">|</button></li>
    <li><button value=";">;</button></li>
    <li><button value=":">:</button></li>
    <li><button value="'">'</button></li>
    <li><button value='"'>"</button></li>
    <li><button value=",">,</button></li>
    <li><button value="<"><</button></li>
    <li><button value=">">></button></li>
    <li><button value=".">.</button></li>
    <li><button value="/">/</button></li>
    <li><button value="\">\</button></li>
    <li><button value="?">?</button></li>
    <li><button value="symbols">TEXT</button></li>
</ul>
