<ul class="text-keys">
    <li><button value="q">q</button></li>
    <li><button value="w">w</button></li>
    <li><button value="e">e</button></li>
    <li><button value="r">r</button></li>
    <li><button value="t">t</button></li>
    <li><button value="y">y</button></li>
    <li><button value="u">u</button></li>
    <li><button value="i">i</button></li>
    <li><button value="o">o</button></li>
    <li><button value="p">p</button></li>
    <li><button value="a">a</button></li>
    <li><button value="s">s</button></li>
    <li><button value="d">d</button></li>
    <li><button value="f">f</button></li>
    <li><button value="g">g</button></li>
    <li><button value="h">h</button></li>
    <li><button value="j">j</button></li>
    <li><button value="k">k</button></li>
    <li><button value="l">l</button></li>
    <li><button value="z">z</button></li>
    <li><button value="x">x</button></li>
    <li><button value="c">c</button></li>
    <li><button value="v">v</button></li>
    <li><button value="b">b</button></li>
    <li><button value="shift">Shift</button></li>
    {{#contains symbol 'true'}}
    <li><button value="symbols">@</button></li>
    {{/contains}}
    <li><button value="n">n</button></li>
    <li><button value="m">m</button></li>
</ul>

<div class="symbol-keyboard">
    {{>components/symbolsKeyboard}}
</div>